@import 'color.css';
button{
    border-radius: 5px;
    border: none;
    font-size: 1.6rem;
}

.section__btn{
    width: 300px;
    height: 60px;
    background-color: var(--red-color);
    color: var(--white-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 4);
}

.i_btn{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var( --gray-color);
    margin: 0 5px;
}

.forma button{
    width: 300px;
    height: 60px;
    background-color: var(--darkblue-color);
    color: var(--white-color);
    margin-top: 5px;
}

.paket button{
    width: 260px;
    height: 60px;
    background-color: var(--red-color);
    color: var(--white-color);
    margin-bottom: 10px;
}

.menu{
    background-color: transparent;
    box-shadow:  rgba(0, 0, 0, 0.2);

}


@media (min-width: 1024px){
    .section__btn{
        width: 276px;
        height: 76px;
    }
    .forma button{
        width: 500px;
        height: 64px;
    }
    button{
        font-size: 1.8rem;
    }
    .paket button{
        width: 280px;
        height: 80px;
    }

}