
button{
    border-radius: 5px;
    border: none;
    font-size: 1.6rem;
}

.section__btn{
    width: 300px;
    height: 60px;
    background-color: #D52027;
    color: white;
}

.i_btn{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #E5E5E5;
}

.forma button{
    width: 300px;
    height: 60px;
    background-color: #141024;
    color: white;
    margin-top: 5px;
}

.paket button{
    width: 260px;
    height: 60px;
    background-color: #D52027;
    color: white;
    margin-bottom: 10px;
}
