@import 'color.css';
button{
    border-radius: 5px;
    border: none;
    font-size: 1.6rem;
}

.section__btn{
    width: 300px;
    height: 60px;
    background-color: var(--red-color);
    color: var(--white-color);
}

.i_btn{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var( --gray-color);
}

.forma button{
    width: 300px;
    height: 60px;
    background-color: var(--darkblue-color);
    color: var(--white-color);
    margin-top: 5px;
}

.paket button{
    width: 260px;
    height: 60px;
    background-color: var(--red-color);
    color: var(--white-color);
    margin-bottom: 10px;
}

.menu{
    background-color: transparent;
    height: 44px;
    width: 44px;
}