h1{
    font-size: 5rem;
    text-align: center ;
}

main{
    margin-top: 20px;
    background: white;
    display: flex   ;
    justify-content: center;
}

select{
    height: 40px;
    width: 150px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    gap: 10px;
    background-color: #f1f1f1;
    width: 95%;
    max-width: 550px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
}

.column{
    grid-column: 2;
    justify-self: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 2rem;
}

input{
    display: grid;
    width: 90%;
    max-width: 500px;
    height: 50px;
    border: 1px solid black ;
    border-radius: 5px;
    grid-column: 2;
}

select{
    border-radius: 5px;
}

form button{
    width: 95%;
    max-width: 500px;
    height: 60px;
    grid-column: 2; 
    color: white;
    background-color: #D52027;
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="text"], 
[type="password"],
[type="email"],
[type="tel"],
[id="contact-time"],
[id="gender"]{
    font-size: 2rem; 
    
}
input[type="date"]{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

input[type="radio"] {
  transform: scale(0.7);
}


.gender_choice{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.footer{
    position: sticky;
    width: 100%;
    bottom: 0;
    padding: 20px;
}

.footer {
    overflow: hidden; /* обрезаем элементы, которые выходят за границы футера */
}
  
.logo {
    transition: transform 0.3s;
    transform-origin: center; /* Задаем точку вращения в центре элемента */
  }
  
  .rot{
    width: 100px;
  }
  .rot :hover {
    transform: rotate(30deg) scale(1.5, 1.5) skewX(5deg) skewY(5deg);
  }
