@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import 'color.css';
/* картинки заменить на jpeg */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
}

section{
    text-align: center;
}

.img{
   width: 80%;
   max-width: 600px;
}
  
.header{
    background:var(--darkblue-color);
    width: 100%;
    color: var(--white-color);
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}

a{
    color: var(--red-color);
    text-decoration: none;
}

.starter{
    text-align: center;
    background:var(--darkblue-color);
    width: 100%;
    color: var(--white-color);
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.starter h1{
    font-size: 3rem;
}

section h2{
    font-size: 3rem;
}

.starter p{
    font-size: 1.6rem;
}



.text_left{
    text-align: left;
    margin-bottom: 50px;
    padding-top: 70px;
    padding-left: 10px;
    max-width: 600px;
}

.text_left p{
    font-size: 2rem;
}

.text_left span{
    font-weight: 900;
    font-size: 2rem;
}

.card-image{
    width: 10em;
    height: 10em;
}

.card-image img{
    width: 220px;
    height: 306px;
}

.information{
    background:var(--lightgray-color);
    width: 100%;
    margin-bottom: 25px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.information h2{
    margin-bottom: 25px;
   
}

.information h3{
    margin-top: 40px;
    font-size: 2rem;
}

.information p{
    font-size: 1.6rem;
    margin-top: 10px;
    max-width: 360px;
    min-width: 300px;
}

.horizont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
    max-width: 320px;
}

.container .numbers{
    font-size: 6rem;
    font-weight: 900;
    color: var(--red-color);
    margin-bottom: 40px;
}

.container p{
    font-size: 2rem;
}

.swiper h3{
    font-size: 2rem;
}

.swiper p{
    font-size: 1.4rem;
}

.swiper a{
    font-size: 1.6rem;
}

.swiper div{
    flex-direction: column;
}




.forma{
    background:var(--red-color);
    color: var(--white-color);
    align-items: left;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.forma .size{
    max-width: 350px;
}

.forma div{
    flex-direction: column;
    margin-top: 5px;
}

input[type="text"] {
    width: 300px;
    height: 60px;
    border-radius: 5px;
}

input[type="text"], input[type="password"],
textarea {
  font-family:'Jost', 'sans-serif';
}  



.forma p{
    font-size: 1.6rem;
    margin-top: 25px;
    margin-bottom: 30px;
}

.paket{
    background-color: var(--white-color);
    border-radius: 20px;
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
    height: 394px;
    width: 300px;
    color: var(--darkblue-color);
    text-align: center;
}

.paket:nth-child(1){
    height: 420px;
}



.paket h3{
    font-size: 30px;
    margin-top: 20px;
}

.paket .prices{
    font-size: 5rem;
    margin-top: 80px;
    font-weight: 700;
}

.paket p{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.paket:nth-child(1) p {
    margin-bottom: 40px;
}

.horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.horizontal div:nth-of-type(1){
    background-color: var(--darkblue-color);
    color: var(--white-color);
   
}

/* FOOTER */
.footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px ;
    background: var(--darkblue-color);
    width: 100%;
    color: var(--white-color);
    align-items: center;
}

.footer a{
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none; /* Убирает подчеркивание ссылки */
    color: inherit; 
}

.footer .numbr{
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 20px;
    display: block;
}

.footer .botm{
    font-size: 1.4rem;
    font-weight:100;
    margin-top: 30px;
}