@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import 'color.css';
@import 'buttons.css';
@import 'media.css';

*{
    box-sizing: border-box;
}
a{
    font-size: 1.8rem;
}
h2{
    font-size: 3rem;
}
p{
    line-height: 3rem;
}

body{
    font-family: 'Jost', sans-serif;
   
}

.wrapper_k{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

.menu_buttons_desktop{
    display: flex; 
    column-gap: 50px; 
}

.img_girl{
   width: 80%;
   /* max-width: 600px; */
  
}
header a{
    color: var(--white-color);
}
header{
    background:var(--darkblue-color);
    width: 100%;
    color: var(--white-color);
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    /* align-items: center;    */
}

.phone_header{
    font-size: 3rem;
    display: none;
}
.menu_buttons_desktop{
    display: flex;
    justify-content: space-between;
    display: none;
}
.menu_buttons_desktop a{
    color: var(--white-color);
    
}

a{
    color: var(--red-color);
    text-decoration: none;
}

.inside_starter{
    /* max-height: 200px; */
    
    /* flex-direction: column; */
}

.starter{
    display: flex;
    background:var(--darkblue-color);
    width: 100%;
    color: var(--white-color);
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

.starter h1{
    font-size: 3rem;
    margin-top: 10px;
}

.starter p{
    font-size: 1.6rem;
    font-weight: 100;
    margin-top: 20px;
    max-width: 500px;
    /* width: 78%; */
    margin-left: auto;
    margin-right: auto;
}

.statistics{
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.hidden_statistics{
    display: none;
}

.text_left{
    text-align: left;
    max-width: 600px;
}

.text_left p{
    font-size: 2rem;
}

.text_left span{
    font-weight: 900;
    font-size: 2rem;
}

.horizont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: 260px;
}

.container .numbers{
    font-size: 6rem;
    font-weight: 900;
    color: var(--red-color);
    margin-top: 0;
    line-height: 1; 
    background-image:
    radial-gradient(
        #D52027,
        #ff2d2d
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.container p{
    font-size: 1.6rem;
    color: #141024;
    margin-top: 40px;
}



.information{
    background:var(--lightgray-color);
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.information h2{ 
   font-size: 3rem;
}


.information h3{
    margin-top: 40px;
    font-size: 2rem;
}

.information p{
    font-size: 1.6rem;
    margin-top: 10px;
    max-width: 360px;
    min-width: 300px;
}

.i_btn_div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.inf_horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

/* ............SLIDER.......... */
.card_image{
    width: 220px;
    height: 306px;
}

.card_image img{
    width: 100%;
    height: 100%;
    padding: 3px;
}

.swiper{
    width: 100%;

}

.swiper-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.card{
    margin-top: 1rem;
    width: 220px;
    height: 100%;
    padding: 2rem 1rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.card-content{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.swiper h2{
   margin-top: 50px;
}

.card-name{
    margin-top: 2rem;
    font-size: 2rem;
}

.card-title{
    margin-top: 2rem;
    font-size: 1.4rem;
    display: flex;
    text-align:  left;
}

.swiper a{
    font-size: 1.6rem;
    margin-top: 2rem;
}




/* ...........LEARNING PROGRAMS............ */
.learning_programs{
    margin-top: 50px;
    margin-bottom: 70px;
}

.learning_programs h2{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}

.paket{
    background-color: var(--white-color);
    border-radius: 20px;
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
    height: 394px;
    width: 300px;
    color: var(--darkblue-color);
    text-align: center;
}

.paket:nth-child(1){
    height: 420px;
}



.paket h3{
    font-size: 30px;
    margin-top: 20px;
}

.paket .prices{
    font-size: 5rem;
    margin-top: 80px;
    font-weight: 700;
}

.paket p{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.paket:nth-child(1) p {
    margin-bottom: 40px;
}

.horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.horizontal div:nth-of-type(1){
    background-color: var(--darkblue-color);
    color: var(--white-color);

}

/* ...............FORMA................*/
.forma{
    background:var(--red-color);
    color: var(--white-color);
    padding-top: 50px;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
  
}

.size{
    margin-top: 50px;
    max-width: 320px;
    line-height: 4rem;
    flex-direction: column;
}

.forma div{
    margin-top: 5px;
}

input{
    width: 300px;
    height: 60px;
    border-radius: 5px;
    padding-left: 15px; 
    border: none;
}

input, textarea {
  font-family:'Jost', 'sans-serif';
}  

.forma p{
    font-size: 1.6rem;
    margin-top: 25px;
    margin-bottom: 30px;
}

.percents_form{
    display: none;
    /* display: flex; */
    flex-direction: row;
    flex-wrap: nowrap; 
    overflow-x: hidden;
    
}
.percents{
    flex: 0 0 auto;
    opacity: 0.5;
}



/* FOOTER */
.footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px ;
    background: var(--darkblue-color);
    width: 100%;
    color: var(--white-color);
    align-items: center;
    flex-direction: column;
}

.footer a{
    font-size: 1.6 rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit; 
}

.footer .numbr{
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 20px; 
}

.footer .a_botm{
    font-size: 1.8rem;
}

.footer .botm{
    font-size: 1.4rem;
    font-weight:100;
    margin-top: 30px;
}


/* ПСЕВДО */

a{
    transition: 1s; /* Плавное изменение свойств при наведении */
    cursor: pointer;
}

a:hover {
    color: blue; /* Цвет текста при наведении */
  }
  
  a:active {
    color: green; /* Цвет текста при активации (нажатии) */
  }
  
a:focus {
    outline: 2px solid red; /* Обводка при фокусировке */
}

  /* Стилизация для кнопок */


button {
    transition: 1s;
    cursor: pointer;
}

/* Стили для нечетных кнопок */
.horizontal .paket:nth-child(odd) button {
    background-color: green; /* Цвет фона для нечетных кнопок */
    color: white; /* Цвет текста для нечетных кнопок */
}

/* Изменение цвета фона и текста для нечетных кнопок при наведении */
.horizontal .paket:nth-child(odd) button:hover {
    background-color: rgb(100, 68, 143);
    color: white;
}

/* Изменение цвета фона и текста для всех кнопок при наведении */
button:hover {
    background-color: rgb(100, 68, 143);
    color: white;
}

/* Цвет фона при активации (нажатии) для всех кнопок */
button:active {
    background-color: red;
}

/* Обводка при фокусировке для всех кнопок */
button:focus {
    border: 2px solid black;
}



.header a::selection{
    background-color: #fff; 
    color: #000;
}

.starter ::selection{
    background-color: #fff; 
    color: #141024;
}

.statistics ::selection{
    background-color: #141024; 
    color: #fff; 
}

.information ::selection{
    background-color: #141024; 
    color: #fff; 
}

.swiper ::selection{
    background-color: #141024; 
    color: #fff; 
}
.learning_programs ::selection{
    background-color: #141024; 
    color: #fff;
}



.horizontal div:nth-of-type(1) ::selection{
    background-color: #ffffff; 
    color: #000; 

}


.forma ::selection {
    background-color: #ffffff; 
    color: #000;   /* Цвет текста при выделении в блоке 1 */
}
.forma input::selection {
    background-color: #000; 
    color: #fff;   /* Цвет текста при выделении в блоке 1 */
}


.footer ::selection{
    background-color: #fff; 
    color: #000;
}



/* Стили для загрузчика */

