@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
.image-button{
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background-image: "img\Group312.svg";
    background-size: cover;
}

.header{
    text-align: left;
    background:#141024;
    width: 100%;
    color: white;
}
.section{
    text-align: center;
    background:#141024;
    width: 100%;
    color: white;
}

.section__btn{
    width: 300px;
    height: 60px;
    background-color: #D52027;
    color: white;
    border-radius: 5px;
    border: none;
}

body{
    font-family: 'Jost', sans-serif;;
    font-size: 16px;
}

.bold{
    font-weight: 900;
}

.numbers{
    font-size: 60px;
    font-weight: 900;
    color: #D52027;
    text-align: center;
}

.text_center{
    text-align: center;
}

.text_left{
    text-align: left;
}

.card-image{
    width: 10em;
    height: 10em;
}

.card-image img{
    width: 220px;
    height: 306px;
}