@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');



body{
    /* background: rgb(20,16,36); */
    font-family: 'Jost', sans-serif;
}   


.image-button {
    width: 44px;
    height: 44px;
    /*border: none;*/
    background-image: url('css\Group312.png');
    background-size: cover;
}